<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p><span data-controller="typed-js"></span></p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<div class="container mt-5 mb-5">
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus rerum nemo possimus quo impedit aliquam consectetur quas inventore, molestias delectus eveniet dicta labore laboriosam error aut nesciunt itaque animi! Quis!
  Error laborum, nisi quidem, libero alias eum esse culpa obcaecati eligendi quae vero sit eos ipsum quibusdam beatae ut voluptatum aperiam corrupti magni maxime in? Nulla tenetur beatae earum? Dolor.
  Voluptatum odit numquam dolor nobis quidem culpa qui similique suscipit reprehenderit esse sequi quasi exercitationem tempore nulla vero, in voluptates earum vitae incidunt quod voluptas! Quidem amet nemo odio unde.
  Ducimus consequuntur magnam quae. Dolores amet praesentium vero pariatur, cum ea ullam nihil obcaecati aliquam atque deleniti odit ipsum consectetur harum. Facere, incidunt dolorum recusandae doloribus itaque doloremque dignissimos reiciendis.
  Dolore dolorum quae deserunt ea totam autem! Blanditiis cupiditate distinctio saepe ullam voluptate minus obcaecati, quos omnis, aut ratione quod rem dolores aperiam, sapiente iure temporibus libero assumenda debitis nobis!
  Debitis illum sed impedit saepe aliquam! Facere, nam cumque in voluptate modi quod adipisci nemo, praesentium unde numquam maiores molestiae deserunt, rem vero culpa cupiditate repellendus voluptas accusantium. Praesentium, provident?
  Vero illo porro optio fuga, ipsa officiis quod doloremque nam cumque expedita accusantium reprehenderit, amet blanditiis dolorem tempora aliquid minima ut est corporis sint perspiciatis? Odio repellendus officia magnam sit.
  Quod illo iusto voluptatibus magni animi! Maiores recusandae doloribus ex tempora ratione quo in voluptas aliquid beatae tenetur neque architecto impedit ad praesentium, hic iure consectetur voluptatibus quod commodi. Aliquid.
  Vero voluptate sint repellat minima sed suscipit quos a molestiae asperiores dolores? Asperiores illo mollitia expedita vero quibusdam itaque unde ipsum? Cupiditate ut eveniet provident magni blanditiis cum asperiores eaque?
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Explicabo recusandae dolore repellendus, quidem veritatis autem nisi debitis earum labore quo, et illum! Ipsum non molestias recusandae provident pariatur dolor labore!
  Optio iusto inventore sequi est nulla, blanditiis delectus illum possimus quod fugiat cum expedita a, totam alias deleniti aliquam voluptatibus voluptatem et, ea reiciendis provident. Dolores non eius suscipit quisquam.
  Asperiores aperiam placeat voluptates minus ab ea suscipit tempora nostrum inventore est repellendus a itaque, officiis culpa voluptatum ex. Aliquam adipisci nihil itaque dicta porro doloremque nemo obcaecati aut iure.
  Nemo ut et consequuntur maxime animi similique, exercitationem autem totam! Quod aperiam similique quidem expedita maxime aspernatur esse voluptatibus libero ad quia nulla, reprehenderit ducimus laboriosam recusandae voluptatum molestias blanditiis.
  Quidem consequatur accusamus odio deserunt, quaerat, eaque minus voluptas minima dolorum quod illo at sit nihil amet, quos recusandae? Impedit sed necessitatibus amet, repellendus magnam distinctio eaque officiis beatae officia.
  Pariatur corrupti magni quod magnam labore! Quos ratione ad, odit in animi nobis quod doloribus repellendus quam dolores aperiam ducimus sint magni magnam rerum deleniti deserunt laboriosam necessitatibus. Veniam, voluptates?
  Nihil eveniet illo culpa assumenda voluptates dolorum! Aliquid, error. Impedit maxime placeat similique nesciunt minus, sequi ad soluta, ea vel tempore natus. Excepturi, repudiandae porro a similique nam expedita quas.
  Libero ea placeat quisquam sunt nam tempora, quae et ex qui! Officiis error pariatur sed deserunt temporibus iure quod, minima beatae vero ipsam saepe ad dolorem reprehenderit modi maxime neque?
  Mollitia dignissimos voluptatibus id. Inventore cum nisi suscipit accusamus enim ratione culpa fuga quaerat deserunt dolorum rem quo, sunt delectus dolore magnam esse dignissimos repudiandae, dicta illum officiis blanditiis omnis.
  Magni odio corrupti asperiores pariatur, laborum maiores quo voluptatem saepe, ratione, amet dolore voluptatibus doloribus accusamus! Odio nemo voluptatem, eligendi ipsam ducimus, sapiente ab nostrum repudiandae error temporibus beatae numquam?
  Laboriosam saepe totam neque, suscipit explicabo quo voluptates fuga sapiente excepturi, maxime nostrum deleniti sunt natus velit pariatur corporis. Ipsum est id debitis qui sapiente voluptate cum possimus quaerat fugiat?
  Iusto est illo, rem amet numquam temporibus omnis dolorem perspiciatis pariatur tempore molestias, blanditiis, explicabo reiciendis architecto saepe quas. Aut praesentium repudiandae tempora quasi fugiat consequatur distinctio unde, non itaque.
  Quibusdam voluptates harum architecto quasi voluptatem est, eveniet expedita fugit dolorum id dolore at quae, repellendus facere unde! Ad, sint amet saepe dolorem non beatae consectetur reprehenderit repudiandae magnam recusandae?
  Veritatis impedit placeat necessitatibus accusantium similique consequuntur cupiditate, sit consectetur nemo aliquid eius repellendus porro hic? Doloremque pariatur numquam, illo adipisci voluptates cupiditate optio eos minus amet id, cum aliquid.
  Obcaecati reprehenderit ut corrupti exercitationem animi ipsa cupiditate repellat velit. Quos beatae, ipsum molestiae ex ipsa dolores architecto laborum, atque necessitatibus voluptates culpa dignissimos, doloribus fugiat inventore quasi harum! Nostrum?
  Omnis assumenda perspiciatis tenetur possimus dolores. Voluptate neque perferendis veritatis, eum ipsam ullam iusto nulla quae quod enim reprehenderit, debitis dolorem, est ea aspernatur illo aliquam optio minus illum sapiente.
  Unde nemo iusto maiores aliquam tempore. Libero enim nulla sunt, dignissimos deserunt architecto, rerum labore eveniet omnis totam harum cupiditate sed dolorum quisquam ex repellat! Non veniam excepturi veritatis tenetur.
  Odio mollitia doloremque quod! Culpa vitae debitis praesentium provident, magnam ab temporibus laboriosam ipsam minima! Qui molestias aliquid quae, itaque officiis est dolore cupiditate, at facilis cum quidem, corporis delectus.
  Deserunt beatae ullam facere vel inventore veritatis ipsam! Consectetur laboriosam veritatis, autem illum recusandae eum delectus corrupti architecto repudiandae, quos ipsam quisquam magni impedit! Quisquam voluptates exercitationem veniam nam ab!
  Odit sapiente rerum esse commodi, dolor facilis praesentium, non, voluptatem accusamus fugiat at quisquam quis unde doloribus dolorum totam asperiores quo quaerat numquam veniam molestiae? Blanditiis, officiis! Animi, distinctio labore.
  Expedita, doloremque voluptas sequi esse sapiente id hic illo nostrum voluptatibus dicta quae explicabo nobis in quibusdam commodi ad quidem perspiciatis cum? Beatae culpa suscipit pariatur vero dicta cumque nobis!
  Sed, amet? Qui modi sed quidem ipsum distinctio saepe. Dolorum neque ipsa officia? Placeat est asperiores nihil quam soluta dolorum temporibus quis ducimus architecto eos! Vel inventore dignissimos dolorem delectus!
  Quaerat maxime ex deleniti perspiciatis consequuntur nostrum est nihil adipisci ab recusandae, suscipit, reiciendis atque voluptatum fugiat voluptatem alias totam laboriosam esse modi voluptate aspernatur nemo ducimus natus provident. Quam!
  Quam minus eum eveniet, rem facere beatae qui hic nostrum cumque esse at pariatur sequi voluptatum earum. Maiores, ad impedit. Repellat nulla repellendus, dolor beatae cum facilis incidunt exercitationem esse.
  Earum illo cumque, quod, neque non tempora sed quidem inventore nesciunt voluptas nam! Aut mollitia ipsa quod expedita non voluptates, facilis odio est sint voluptas tempore reiciendis quos placeat. Voluptatibus!
  Ipsam deserunt laudantium dignissimos. Aspernatur aut nihil ducimus at perferendis illo quaerat cumque? Non ipsa voluptate accusamus quam ad delectus beatae, nemo veritatis accusantium repellat, vero at sed neque labore!
  Ea aut adipisci esse sit illo consequatur, explicabo dicta eos id accusamus assumenda odio quam error sunt quos rerum quasi cum natus mollitia excepturi, neque recusandae placeat alias. Libero, sed.
  Deserunt velit deleniti omnis ullam animi, alias rerum ducimus labore nobis minima iusto voluptatum quidem ipsa! Cumque, sequi est? Cupiditate, hic? Incidunt repellat quia tempore minus id libero, beatae nulla!
  Repudiandae fugiat dolorum architecto quibusdam beatae, culpa eum voluptatum obcaecati itaque aliquid magni explicabo eveniet voluptates molestiae libero dolor rerum. Temporibus hic neque voluptates inventore modi nulla harum perspiciatis deserunt.
  Consequuntur accusamus mollitia nobis expedita porro neque, nisi sunt eius, culpa impedit saepe, voluptatum dolorum animi repellat. Ex temporibus iure vero quis tempora asperiores id, quam, sunt natus, cumque sit.
  Possimus fugit incidunt fuga cumque id itaque quasi eaque culpa soluta illum amet, rerum distinctio architecto deserunt ratione. Excepturi, facere incidunt? Sit illo autem beatae, dicta eligendi explicabo numquam voluptas!</p>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Click Me!
</button>

<!-- Modal -->
<div class="container text-center m-5">
  <div class="modal fade text-center" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Gracias por llegar aqui</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Esta practica es parte del proyecto rails frontend de le wagon
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Done!</button>
        </div>
      </div>
    </div>
  </div>
</div>


<%# <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Breakfast
</div>

<div class="card m-5" style="width: 18rem;">
  <div class="logo m-2 card-img-top"></div>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="inline">
    <a href="#" class="btn btn-primary">Go somewhere</a>
    <i class="fa-solid fa-user"></i>
    </div>
  </div>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div> %>
